confirm page
<%= form_with(model:@list, url: lists_path, local:true) do |form| %>
  <%= form.hidden_field :content %>
  <p>content:<%= @list.content %></p>
  <%= form.submit "submit" %>
<% end %>