<div class = "page_title">
  <h2>ImageFeeds</h2>
</div>

<div class = "feed_table" align = "center">
  <table>
    <tbody>
      <% @feed.each do | feed | %>
        <tr class = "table_content">
          <td><%= feed.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
