<div class = "page_title">
  <h2>ImageFeeds</h2>
  <p><%= notice %></p>
</div>

<div class = "feed_table" align = "center">
  <table>
    <tbody>
      <% @feed.each do | feed | %>
        <tr class = "table_content">
          <td><%= feed.content %></td>
        </tr>
        <tr class = "btn btn_eddit">
          <td><%= link_to 'edit', edit_feed_path(feed.id) %></td>
          <td><%= link_to 'destroy', feed_path(feed.id), method: :delete, data: {confirm: 'do you really want to delete this?'} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
