<section class = "main-header">
    <img src="/assets/imagefeeds.png">
</section>
<section class="preamble">
  <h1>About ImageFeeds</h1>
  <p>
    日常をshareしよう！<br>
    ちょっとしたことや、気になるメモ代わりに色々な光景を友人と共有するアプリです。
  </p>
  <p>
    画像を投稿し、みんなで楽しみます。<br>
  </p>
</section>
